@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Physical Media</title>
</head>
<body>
    <div>
        <h1>Physical Media</h1>
        <ul>
            <li><h1><a href="/">Home</a></h1></li>
            <li><h1><a href="/Sources/Index">Sources</a></h1></li>
        </ul>

        <h2><a href="https://www.dccomics.com/comics/batman-facsimile-edition-2019/batman-251-facsimile-edition-1">Buy comics with the Joker</a></h2>

        <h3><a href="PhysicalMedia">o Books and print media</a></h3>
        <h3><a href="OnlineMedia">o Links to online media</a></h3>
    </div>
</body>
</html>