@model Comment
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Comment on story</title>
</head>
<body>
    <div>
        <h1>Comment on this story</h1>
        <ul>
            <li><h1><a href="/">Home</a></h1></li>
            <li><h1><a href="../Sources/Index">Sources</a></h1></li>
        </ul>

        @*
            Trying to provide the commented-on-story's title to the view, which is happening, but when I pass the 
            title back to the controller, the title is 'null'
        *@
        <form asp-action="CommentForm" method="post">
            <label asp-for="@Model.StoryTitle">Story title:</label>
            <input disabled asp-for="@Model.StoryTitle" />
            <div>
                <label asp-for="username">Username:</label>
                <input asp-for="username" />
            </div>
            <div>
                <label asp-for="email">Your email:</label>
                <input asp-for="email" />
            </div>
            <div>
                <label asp-for="CommentText">Comment:</label>
                <input asp-for="CommentText" />
            </div>
            <div>
                <button type="submit">Submit Comment</button>
            </div>
        </form>
        <h3>
            <a href="../Home/History">History</a>
        </h3>
        <h3>
            <a href="../Home/Stories">Stories</a>
        </h3>
    </div>
</body>
</html>
