@model String
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Comment on story</title>
</head>
<body>
    <div>
        <h1>Comment on this story</h1>
        <ul>
            <li><h1><a href="/">Home</a></h1></li>
            <li><h1><a href="../Sources/Index">Sources</a></h1></li>
        </ul>

        <h2>Comment on @Model</h2>


        @*<form asp-action="CommentForm" method="post">
            <div>
                <label asp-for="User.Username">Username:</label>
                <input asp-for="User.Username" />
            </div>
            <div>
                <label asp-for="User.Email">Your email:</label>
                <input asp-for="User.Email" />
            </div>
            <div>
                <label asp-for="Comments">Comment:</label>
                <input asp-for=Comments.Add" />
            </div>
            <div>
                <button type="submit">Submit Comment</button>
            </div>
        </form>*@

        <h3>
            <a href="../Home/History">History</a>
        </h3>
        <h3>
            <a href="../Home/Stories">Stories</a>
        </h3>
    </div>
</body>
</html>
